<div class="container">
  <div class="row">
    <div class="title"><h4>ALL FLIGHTS</h4></div>
      <!-- <div class="flight"> -->
        <% if @flights.empty? %>
          <span style="line-height: 250px; margin-left: 30px;">You currently have no flights.</span>
        <% end %>
        <% @flights.each do |f| %>
          <%= f.origin %><br>
          <%= f.destination %><br>
          <%= f.date.strftime("%b %d, %Y") %><br>
          <%= f.seat %><br>
          <%= link_to "Boarding Pass", flight_path(f.id) %><br>
          <hr>
        <% end %>
      <!-- </div> -->
  </div>
</div>
