<div class="container">
<div class="row">
<div class="title"><h4>BOOK FLIGHT</h4></div>
    <%= form_for @flight, method: "post" do |flight| %>
      <%= flight.label :origin %>
      <%= flight.select :origin, ["--Select Departure--", "Austin, TX (AUS)", "Chicago, IL (MDW)", "New York, NY (JFK)", "London, UK (LDN)", "Los Angeles, CA (LAX)"] %>
      <%= flight.label :destination %>
      <%= flight.select :destination, ["--Select Arrival--", "London, UK (LDN)", "New York, NY (JFK)", "Los Angeles, CA (LAX)", "Abu Dhabi AE (AZI)", "Milan, Italy (MXP)"] %>
      <%= flight.label :date %>
      <%= flight.text_field :date %>
      <%= flight.label :seat %>
      <%= flight.select :seat, ["--Select Ticket Class--", "First Class", "Business Class", "Economy Class"] %>
      <%= flight.submit "Book" %>
    <% end %>

</div>
</div>
