<div class="container">
<div class="row">
<div class="title"><h4>BOOK FLIGHT</h4></div>
    <%= form_for @flight, method: "post" do |flight| %>
      <%= flight.label :origin %>
      <%= flight.select :origin, ["Austin, TX (AUS)", "Chicago, IL (MDW)", "New York, NY (JFK)", "London, UK (LDN)", "Los Angeles, CA (LAX)"], :prompt => "-Departure City-" %>
      <%= flight.label :destination %>
      <%= flight.select :destination, ["London, UK (LDN)", "New York, NY (JFK)", "Los Angeles, CA (LAX)", "Abu Dhabi AE (AZI)", "Milan, Italy (MXP)"], :prompt => "-Arrival City-" %>
      <%= flight.label :date %>
      <%= flight.text_field :date %>
      <%= flight.label :seat %>
      <%= flight.select :seat, ["First Class", "Business Class", "Economy Class"], :prompt => "-Ticket Class-" %>
      <%= flight.submit "Book", :class => "tiny button" %>
    <% end %>

</div>
</div>
