<div class="container">
  <div class="row">
    <div class="title"><h4>BOARDING PASS</h4></div>
    <%= @flight.origin %><br>
    <%= @flight.destination %><br>
    <span>Flight 381</span><br>
    <%= @flight.date.strftime("%b %d, %Y") %><br>
    <span>12:30PM</span><br>
    <span><%= current_user.last_name %>, </span>
    <span><%= current_user.first_name %></span><br>
    <span>Gate A3</span><br>
    <%= @flight.seat %><br>
    <%= link_to "Go Back", flights_path %>
  </div>
</div>
