<div class="container">
  <div class="row">
    <div class="title"><%= image_tag ("ticket-logo.png") %><h4><%= current_user.last_name %>, <%= current_user.first_name %></h4></div>

    <h6><%= @flight.origin %></h6><br>
    <span class="plane"><%= image_tag ("airplane.png") %></span><br>
    <h6><%= @flight.destination %></h6><br>
    <div class="ticket">
      <p>FLIGHT</p>
      <span>UA 381</span>
    </div>
    <div class="ticket">
      <p>DATE</p>
      <span>2:00PM</span><br>
      <% if @flight.destination == "London, UK (LDN)" %>
        <%= "Sept 5, 2014" %> <br>
      <% elsif @flight.destination == "Tokyo, JA (HND)" %>
        <%= "Sept 19 5, 2014" %> <br>
      <% elsif @flight.destination == "Hong Kong, CN (HKG)" %>
        <%= "Oct 12, 2014" %> <br>
      <% elsif @flight.destination == "Abu Dhabi, AE (AZI)" %>
        <%= "Nov 3, 2014" %> <br>
      <% elsif @flight.destination == "Milan, IT (MXP)" %>
        <%= "Dec 20, 2014" %> <br>
      <% end %>
    </div>
    <div class="ticket">
      <p>GATE</p>
      <span>A3</span><br>
    </div>
    <div class="ticket">
      <p>SEAT</p>
      <% if @flight.seat == "First Class" %>
        3D
      <% elsif @flight.seat == "Business Class" %>
        6A
      <% else %>
        22F
      <% end %>
    </div>
    <span class="qr"><%= image_tag ("qr.png") %></span>
  </div>
</div>
