
    <% if user_signed_in? %>
      <span><%= link_to "Book Flight", new_flight_path %></span>
      <span><%= link_to "Boarding Passes", flights_path %></span>
      <span><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></span>
    <% else %>
      <span><%= link_to "Sign Up", new_user_registration_path %></span>
      <span><%= link_to "Login", new_user_session_path %></span>
    <% end %>

