<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "United Airlines" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


  <%= yield %>
    <div class="nav">
      <% if user_signed_in? %>
        <span class="top name">Welcome, <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></span>
        <span class="user-menu"><%= link_to "BOOK FLIGHT", new_flight_path %></span>
        <span class="user-menu"><%= link_to "CHECK IN", flights_path %></span>
        <span class="user-menu"><%= link_to "SIGN OUT", destroy_user_session_path, :method => "delete" %></span>
      <% else %>
        <span><%= link_to "SIGN UP", new_user_registration_path %></span>
        <span><%= link_to "LOGIN", new_user_session_path %></span>
      <% end %>
    </div>
  <%= javascript_include_tag "application" %>
  </div>
</html>
